<p>Hello There!</p>
<p>
    Congratulations! <b>A comment has been added on your place in Nomster.</b>

    Check it out! <%= link_to 'here', place_url(@place) %>
</p>

Happy Eating <br />
<br />

Nom Nom... <br />

The Nomster Team
